---
import PageLayout from "../layouts/PageLayout.astro";
import { socialLinks } from "../data/social";
---

<PageLayout title="About" description="About Ohshima Yusuke">
  <p>Ohshima Yusuke</p>
  <ul>
    {socialLinks.map((link) => (
      <li>
        <a href={link.url} target="_blank" rel="noopener noreferrer">
          {link.name}: {link.handle}
        </a>
      </li>
    ))}
  </ul>
</PageLayout>
